[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Option_Scraper = {editable = true, path = "."}
virtualenv = "==20.0.31"
pandas = "*"
twilio = "*"
requests = "*"

scipy = "*"
pytest = "*"

[requires]
python_version = "3.7"
